{% extends 'first/base.html'%}
{% load static %}
{% block form %}



<div class="table-wrapper lessendiv ">
<h1 style="font-size: 100px">{{title}}</h1>

{% if message %}
    <div class="corrected_message">
        {{message}}
    </div>
    {% elif message_error %}
    <div class="incorrected_message">
        {{message_error}}
    </div>
        {% else %}
        <div>

        </div>
        {% endif %}
    <div class="flex_primer">

        <div>
           <p class="style_primer">{{a}} + {{b}} =</p>
        </div>
        <div>
            <form action="{% url 'bonusPrimer' %}" method="post">
                {% csrf_token %}
                <input type="text" name="rezult" class="form-control" autofocus>
            </form>
        </div>

    </div>




</div>





{% endblock %}