{% extends 'first/base.html'%}
{% load static %}
{% block form %}



<div class="table-wrapper lessendiv ">

<div class="flex2">
        <div class="lessendiv2">
        njn
        </div>
        <div class="lessendiv2">
        njn
        </div>
        <div class="lessendiv2">
        njn
        </div>
        <div class="lessendiv2">
        njn
        </div>
        <div class="lessendiv2">
        njn
        </div>
    </div>

    <div class="flex2">
        <div class="lessendiv2">
        njn
        </div>
        <div class="lessendiv2">
        njn
        </div>
        <div class="lessendiv2">
        njn
        </div>
        <div class="lessendiv2">
        njn
        </div>
        <div class="lessendiv2">
        njn
        </div>
    </div>

    <div class="flex2">
        <div class="lessendiv2">
        njn
        </div>
        <div class="lessendiv2">
        njn
        </div>
        <div class="lessendiv2">
        njn
        </div>
        <div class="lessendiv2">
        njn
        </div>
        <div class="lessendiv2">
        njn
        </div>
    </div>

    <div class="flex2">
        <div class="lessendiv2">
        njn
        </div>
        <div class="lessendiv2">
        njn
        </div>
        <div class="lessendiv2">
        njn
        </div>
        <div class="lessendiv2">
        njn
        </div>
        <div class="lessendiv2">
        njn
        </div>
    </div>


    <div class="flex2">
        <div class="lessendiv2">
        njn
        </div>
        <div class="lessendiv2">
        njn
        </div>
        <div class="lessendiv2">
        njn
        </div>
        <div class="lessendiv2">
        njn
        </div>
        <div class="lessendiv2">
        njn
        </div>
    </div>

</div>





{% endblock %}